.forgot-class {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #E8D3F2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  z-index: 0;
}

.forgot-container{
  width: 55%;
  height: 55%;
  background : #3E0F73;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 10px #CDA3E6
}

.forgot-img{
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/bg7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
}

.forgot-form{
  color: #E8D3F2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}