.landing-class{
  display: block;
  height: 100%;
  width: 100%;
}

.home-button{
  background-image: url(../img/icon-web3.png);
  display: block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  z-index: 0;
}

.landing-container{
  margin: 5% auto;
  width: 85%;
  height: 75%;
  background : #fff;
  opacity: 0.8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image1 {
  background-image: url(../img/bg3.jpg);
  display: block;
  height: 92vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  line-height: 100%;
}

.bg-image2 {
  background-image: url(../img/bg13.jpg);
  display: block;
  height: 92vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  line-height: 100%;
}

.bg-image3 {
  background-image: url(../img/bg5.jpg);
  display: block;
  height: 92vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  line-height: 100%;
}