.login-class {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/bg13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  z-index: 0;
}

.login-container{
  margin: auto;
  width: 25%;
  height: 50%;
  background : #FAF0FF;
  padding: 10px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}