.register-class {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/bg8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  z-index: 0;
}

.register-container{
  margin: auto;
  width: 25%;
  height: 50%;
  background : #CDA3E6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border-radius: 6px;
}

.ant-form-item-explain.ant-form-item-explain-error {
  color: #3E0F73 !important;
}